body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 202, 94);
}
.header{
    font-size: x-large;
    font-weight: bold;
    -webkit-text-stroke: tomato;
    color: white;
}
